@model IEnumerable<ListAdvertsModel>

@{
    ViewBag.Title = "Tüm İlanlar";
}
<body>
    <h4 class="mt-5 mb-5">@ViewBag.CityName İlindeki Tüm İlanlar</h4>
    <div class="container text-center">
         @if (Model != null && Model.Any())
        {
            foreach (var advert in Model)
            {
                var cardClass = advert.PaidAdvertChoice == "Çerçeve İçinde Göster" ? "card border" : "card";
                var cardStyle = advert.PaidAdvertChoice == "Çerçeve İçinde Göster" ? "border: 4px solid green !important;" : "";
                <div class="@cardClass d-flex flex-row mb-3" style="max-height: 13rem; @cardStyle">
                    <img src="@Url.Content($"~/images/{ViewBag.CityName}.png")" class="card-img-start" alt="..." style="width: 14rem;">
                    <div class="card-body text-start">
                        <h5 class="card-title">@advert.Title</h5>
                        <p class="card-text">@advert.Description</p>
                        <p class="card-text fs-5">@advert.Price TL</p>

                        <a href="@Url.Action("GetAdvert", "AdvertDetails", new { advertID = advert.AdvertID })" class="btn btn-outline-dark btn-sm">İncele</a>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="alert text-danger text-start fw-bold fs-5">Seçilen ilde ilan bulunamadı</p>
            
        }



    </div>
</body>