@{
    ViewData["Title"] = "Anasayfa";
}
@model HomepageViewModel

<body>
    <h5 class="mt-5">Öne Çıkan İlanlar</h5>
    <div class="container text-center mt-3">
        <div class="row">
            <div class="col-md-auto">
                <div class="row">
                    @if (Model != null && Model.PaidHomepageAdverts.Any())
                    {
                        foreach (var advert in Model.PaidHomepageAdverts)
                        {
                            <div class="col">
                                <div class="card" style="width: 15rem;">
                                    @if (advert.PathToImage != null)
                                    {
                                        <img src="@Url.Content(advert.PathToImage)" class="card-img-start" alt="..." style="width: 15rem;">
                                    }
                                    else
                                    {
                                        <img src="~/images/default-image.png" class="card-img-start" alt="..." style="width: 15rem;">
                                    }
                                    
                                    <div class="card-body">
                                        <div class="card-body text-center">
                                            <h5 class="card-title">@advert.Title</h5>
                                            <p class="card-text">@advert.Description</p>
                                            <p class="card-text">@advert.DistrictName / @advert.CityName</p>
                                            <p class="card-text fs-5">@advert.Price TL</p>

                                            <a href="@Url.Action("GetAdvert", "AdvertDetails", new { advertID = advert.AdvertID })" class="btn btn-outline-dark">İncele</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>   
            </div>     
        </div>
    </div>
    <h5 class="mt-5">Tüm İlanlar</h5>
    <div class="container text-center mt-3">
        <div class="row">
            <div class="col-md-auto">
                <div class="row">
                    
                    @if (Model != null && Model.AllCities.Any())
                    {
                        foreach (var city in Model.AllCities)
                        {
                            
                            <div class="col">
                                <div class="card" style="width: 15rem;">
                                    <img src="@Url.Content($"~/images/{city.CityName}.png")" class="card-img-top" alt="City Image" style="width: 15rem;">
                                    <div class="card-body">
                                        <a href="@Url.Action("ListAdverts", "ListAdverts", new { cityName = city.CityName })" class="btn btn-outline-white btn-lg fw-bold">@city.CityName</a>
                                    </div>
                                </div>
                            </div>

                        }
                    }    
                </div>
            </div>
        </div>
    </div>
   

</body>

